.Analytics {
    height: 100%;
    width: 100%;
    background-color: white;
}

.Components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.bloc-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tabs {
    position: relative;
    width: 54%;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    outline: none;
    background: rgba(128, 128, 128, 0.075);
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
    border-bottom: 1px solid transparent;
    background: white;
}

.active-tabs::before {
    position: absolute;
    top: -5px;
    left: 50%;
    width: calc(100% + 2px);
    height: 5px;
    display: block;
    content: "";
    background: rgb(88, 147, 241);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

button {
    border: none;
}

.content-tabs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
}

.content h2 {
    padding: 0px 0px 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    margin-bottom: 5px;
    background: #222;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

.mytabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.mytabs input {
    display: none;
}

.mytabs label {
    width: 31.6%;
    border: 1px #E1E3E6 solid;
    border-width: 1px 0px 1px 0px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    line-height: 27px;
    color: #757D8A;
    background: #F8F8F8;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.mytabs label:nth-child(2) {
    margin: 0 0 0 40px;
}

.mytabs label p {
    padding: 10px 0;
}

.mytabs label p:hover{
    background-color: #f0f0f0;
}

#oplab {
    border-width: 1px 0px 1px 1px;
    border-radius: 8px 0px 0px 8px;
}

#cllab {
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 8px 8px 0px;
}

.mytabs .tab {
    width: 100%;
    display: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background: #fff;
}



.mytabs p {
    width: 100%;
    border-radius: 8px;
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.mytabs input:checked + label + .tab {
    display: block;
}

.mytabs input:checked + label p {
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    -webkit-box-shadow: 0px 4px 8px -6px rgba(27, 46, 94, 0.03), 0px 16px 8px -4px rgba(27, 46, 94, 0.03);
    box-shadow: 0px 4px 8px -6px rgba(27, 46, 94, 0.03), 0px 16px 8px -4px rgba(27, 46, 94, 0.03);
    background-color: white;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.mytabs input:checked + label {
    color: #5A6474;
    font-weight: 700;
    background-clip: padding-box;
    background-color: #F8F8F8;
}

::-webkit-scrollbar {
    width: 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 0 0;
}

.header__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.head_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.head_buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding-right: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #757D8A;
}

.header input {
    background-image: url(/img/Search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

td.nick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

td.nick input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px;
    -ms-flex-item-align: center;
    align-self: center;
}

tbody input {
    border: 1px solid #C3C7CE;
    border-radius: 8px;
    padding: 24px;
}

.header input::-webkit-input-placeholder {
    padding: 35px;
    font-size: 16px;
}

.header input::-moz-placeholder {
    padding: 35px;
    font-size: 16px;
}

.header input:-ms-input-placeholder {
    padding: 35px;
    font-size: 16px;
}

.header input::-ms-input-placeholder {
    padding: 35px;
    font-size: 16px;
}

.header input::placeholder {
    padding: 35px;
    font-size: 16px;
}

.header input:focus::-webkit-input-placeholder {
    color: white;
}

.header input:focus::-moz-placeholder {
    color: white;
}

.header input:focus:-ms-input-placeholder {
    color: white;
}

.header input:focus::-ms-input-placeholder {
    color: white;
}

.header input:focus::placeholder {
    color: white;
}

.Tableusers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 17px;
    overflow-x: auto;
}

.table {
    margin: 40px 0 0 0;
}

.checked {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

table input {
    display: block !important;
    width: 24px;
    height: 24px;
    border: 1px solid #C3C7CE;
    border-radius: 8px;
}

td, th {
    padding: 8px 20px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;
    color: #757D8A;
}

tr {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.th-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 13px;
}

th {
    background-color: #F8F8F8;
}

.basket_delete {
    height: 24px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.completed {
    background-color: #4E73F8;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
}

.completed td {
    color: #fff;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.completed .basket_delete {
    -webkit-filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(221deg) brightness(106%) contrast(105%);
    filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(221deg) brightness(106%) contrast(105%);
}

#thop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    border-radius: 8px 0px 0px 8px;
}

#thcl {
    border-radius: 0px 8px 8px 0px;
}

.table_ico {
    cursor: pointer;
}

.iconed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iconed img {
    width: 20px;
    vertical-align: middle;
}

.country p {
    margin-bottom: 1em;
}

.information {
    padding: 4px 28px 10px;
    line-height: 20px;
}

.map img {
    width: 84.6vh;
    border-left: 1px solid #737480;
    border-radius: 0 10px 10px 0;
    margin-left: 48px;
}

.profit__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
}

.profit__leftSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width:100%;
}

.profit__item {
    width: 100%;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    padding: 24px;
    background: #FFFFFF;
    cursor: pointer;
    opacity: 0.9;
}

.profit__item:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
    opacity: 1;
}


span.freen_profit {
    -ms-flex-item-align: center;
    align-self: center;
}

.green_profit, .red_profit {
    cursor: auto;
    border-radius: 8px;
    padding: 2px 13px;
    margin-left: 16px;
    -ms-flex-item-align: Center;
    align-self: Center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #07A287;
    background: rgba(7, 162, 135, 0.08);
}

.profit_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profit_header span, .rightSideFirstText2 span {
    max-width: 60px;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.profit_header h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #757D8A;
}

.profit_footer {
    margin-top: 16px;
}

span.green_text {
    color: #07A287;
}

.profit_sum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.profit-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.geo__profit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.profit_down {
    border: 1px solid #FCA549;
    border-radius: 8px;
    background: #FFF8F1;
}

.profit_rightSide {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
}

span.red_text {
    line-height: 20px;
    color: #F43C3C;
}

.red_profit {
    border-radius: 8px;
    color: #F43C3C;
    background: rgba(244, 60, 60, 0.24);
}

.allprofit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    padding: 24px;
    -webkit-box-shadow: 0px 0px 4px #E1E3E6;
    box-shadow: 0px 0px 4px #E1E3E6;
}

.numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    text-align: center;
    -ms-flex-item-align: end;
    align-self: end;
}

.numbers_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.color1 {
    width: 70px;
    height: 12px;
    border-radius: 2px;
    background: rgba(78, 115, 248, 0.25) !important;
}

.color2 {
    width: 70px;
    height: 12px;
    border-radius: 2px;
    background: rgba(78, 115, 248, 0.5) !important;
}

.color3 {
    width: 70px;
    height: 12px;
    border-radius: 2px;
    background: #4E73F8 !important;
}

.rightSideFirst {
    width: 50%;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    padding: 24px;
    background: #FFFFFF;
}

.rightSideFirst_header img {
    border-radius: 48px;
    padding: 10px;
    -ms-flex-item-align: Center;
    align-self: Center;
    background: rgba(78, 115, 248, 0.08);
}

.rightSideFirst_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rightSideFirstText1 {
    margin: 0 0 0 10px;
}

.rightSideFirstText1 h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.rightSideFirstText1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.rightSideFirstText2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-item-align: center;
    align-self: center;
}

.rightSideFirstText2 span {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rightSideFirstText2 span.green_profit {
    cursor: auto;
}

/*Analytics*/
.Analytics-graphic__totalProfit {
    margin: 34px 0 0 0;
}
.no-data{
    width: 100%;
    height: 65vh;
}
.no-data p{
    display: flex;
    justify-content: center;
    align-items: center;
    height:65vh;
}

/* Filters Buttons */

.filters_btn{
    position: relative;
}

.filters_sort{
    background: #FFF;
    box-shadow: 0 4px 2px -2px rgba(27, 46, 94, 0.02);
    position: absolute;
    width: 223%;
    margin-top: 10px;
    border-radius: 10px !important;
    border: 1px solid #E1E3E6;
    padding: 16px 10px;
    transition: 0.3s all ease;
    opacity: 0;
    pointer-events: none;
}
.filters_sort.opened{
    opacity: 1;
    pointer-events: all;
}
.filter_button{
    padding: 8px 16px !important;
    width: 100%;
    border-radius: 8px;
    height: 40px;
    justify-content: space-between;
    transition: 0.3s all ease;
}
.filter_button svg path{
    transition: 0.3s all ease;
}
.filter_button.active{
    background: rgba(78, 115, 248, 0.08);
    color: #4E73F8;
}
.filter_button.active svg path{
    fill:#6989FE;
}
.filter_button:hover{
    background: rgba(78, 115, 248, 0.08);
    color: #4E73F8;
}
.filter_button:hover svg path{
    fill:#6989FE;
}
.ico_button.disabledBtn{
    pointer-events: none;
    background: #E6E7E9;
    border:none;
}

.ico_button.filterBtn{
    transition: 0.3s all ease;
}
.ico_button.filterBtn svg path{
    transition: 0.3s all ease;
}
.ico_button.filterBtn:hover svg path{
    fill:white;
}
.ico_button.filterBtn:hover{
    color:white;
    background: linear-gradient(180deg, #08B395 0%, #0C977F 100%);
    border-color:#08B395;
    height: 100%;
}

.allprofit__devices {
    display: flex;
    justify-content: space-between;
}

.allprofit__devices__table {
    display: flex;
    gap: 4px;
}

.allprofit__devices__names {
    display: flex;
    margin-top: 20px;
}

.allprofit__devices__name {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: #757D8A;
}

.allprofit__devices__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.allprofit__devices__slot {
    width: 80px;
    height: 70px;
    background: rgba(78, 115, 248, 0.24);
    border-radius: 5px;
}