
/*-----------------*/
/*Article*/
.Article{
    display: flex;
    color: #404D61;
}
.Article-header-img{
    width: 100%;
}
.Article-header-img img{
    width: 100%;
    height: 330px;
    object-fit: cover;
}
.Article-post-img img{
    width: 100%;
    height: 338px;
    object-fit: cover;
}
.Article-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;
}

.Article-info{
    display: flex;
    justify-content: space-between;
}

.Article-post-quotation{
    display: flex;
    align-items: start;
    gap: 30px;
}
.Article-post-quotation p{
    font-size: 24px!important;
    line-height: 36px!important;
}

.Article-post{
    position: relative;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px 0 0 0;
}

.Article-post p{
    font-size: 18px;
    line-height: 26px;
    hyphens: auto;
}
.Article-post-container{
    position: absolute;
    top: 250px;
    left: -75%;
    z-index: 400;
}
.Article-post-item.active{
    bottom: 0;
}
.Article-post-item{
    width: 342px;
    position: absolute;
    word-wrap: break-word;
    background: #F8F8F9;
    border-radius: 8px;
    padding: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.Article-post-item-img img{
    width: 56px;
}
.Article-post-item__title{
    width: 242px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin: 20px 0 0 0;
}
.Article-post-item__main{
    display: flex;
    align-items: center;
    gap: 10px;

}
.Article-post-item__main p{
    color: #4E73F8;
}
.Article-post-item__rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0 0 0;
}
.Article-post-item__price{
    margin: 30px 0 0 0;
}
.Article-post-item__time{
    display: flex;
    font-weight: 400;
    color: #757D8A;
    align-items: center;
    gap: 10px;
    margin: 8px 0 0 0;
}
.Article-post-item__button{
    margin: 30px 0 0 0;
}
.Article-post-item__button button{
    width: 100%;
    background: #4E73F8;
    border-radius: 8px;
    color: #fff;
    padding: 16px 0;
}
.Article-post-item__button:hover button{
    background: linear-gradient(180deg, #5B78E3 0%, #2A4BC5 100%);
}
@media (max-width: 1224px) {
    /*.Article-post-item.active{*/
    /*    bottom: -155vh;*/
    /*}*/
    .Article-post{
        width: 100%;
    }
    .Article-post-item__title, .Article-post-item{
        width: 100% !important;
    }
    .Article-post-container, .Article-post-item{
        position: static !important;
    }
    /*.Article-post-container{*/
    /*    left: 0 !important;*/
    /*}*/

}
