.Case{
    margin-right:25px;

    padding: 30px 30px 10px;

    display: flex;

    flex-direction: column;

}



.buttonsFeed{
    display: flex;
    
    gap: 24px;
}

a.button__back{

    margin-right:19px;

    max-height:10px;

    padding: 19px;

    align-self:center;

    background: #F8F8F8;

    border-radius: 99px;

}



.feed-header h2{

    font-weight: 700;

    font-size: 24px;
    
    line-height: 40px;

}


.service-price{

    display: flex;

    margin-bottom: 20px;

}



span.name{
	
	color: #4E73F8;

}



.starrating p{

	font-weight:700;

}



.cart-boosted{

    width: 97.5%;

    height: 30%;

    border: 1px solid rgba(252, 165, 73, 0.64);

    background: rgba(252, 165, 73, 0.08);

    border-radius: 8px;

    border-radius: 10px;

    padding: 24px;

    margin-bottom: 2em;

}



.cart{

    width: 97%;

    height: 30%;

    border: 1px solid #d0d0d0;

    background-color: #ffffff;

    border-radius: 10px;

    padding: 24px;

}



.service{
    width: 70%;
    display: flex;

    flex-direction: row;

}



.image-service img{

    width: 8vh;

    margin-top: 4px;

    line-height: 2px;

    margin-right: 10px;

    border-radius: 15px;

}



.timer{

    justify-content: right;

    display: flex;

    align-items: center;


}



.service-text {
    font-size:18px;

    display: flex;

    flex-direction: column;

	justify-content: space-between;

    line-height: 2px;


}
.service-titile{
    padding: 0 20px 0 0;
    word-break:break-all;
    line-height: 32px;
}


.price{
    width: 30%;
	display: flex;

	flex-direction: column;

	justify-content: space-between;

    line-height: 2px;

}



.price h2{

	float: right;
    line-height: 32px;
	align-self: end;

}

	

.service-text-2{

    margin-bottom: 10px;

}



.status span{

    font-weight:550;

    font-size: 20px;

    color: #07A287;

    background: rgba(7, 162, 135, 0.08);

    padding: 4px 16px;

    border-radius: 8px;

    margin-right: 10px;

    margin-bottom: 10px;



}



.status-1 span{

    font-weight: 550;

    font-size: 18px;

    color: rgba(255, 255, 255, 0.96);

    background-color: orange;

    padding: 4px 16px;

    border-radius: 8px;

    margin-right: 10px;

    margin-bottom: 10px;

}



.time-more-btn{

    display: flex;

    justify-content: space-between;

}



.time-more-btn button{
    font-weight: 500;

    line-height: 24px;

    width: 220px;

    height: 40px;

    font-size: 18px;

    color: white;

    background-color: #4E73F8;

    border-radius: 8px;

	border: none;

    cursor: pointer;

    transition: 0.4s ease;

}



.time-more-btn button:hover{

	border: 1px #4E73F8 solid;

    color: #4E73F8;

    background-color: white;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.4s ease;

}



.starrating{

    display: flex;

    flex-direction: row;

    align-items: center;

}



.starrating h2{

	margin: 0px;

    display: flex;

    flex-direction: row;

    align-items: center;

    font-size: 18px;

}