.feed{

	margin-left: 21.7%;

    flex: 3;

	color: #404D61
	
}



.feed-header {

    height: 48px;

    display: flex;

	justify-content: space-between;

    position: relative;

    top: 0;

    z-index: 100;

    border-bottom: 1px solid #f1ebe5;

    padding: 25px 40px;

}



.feed-header h2 {

	margin: 0px;

	vertical-align: middle;

	height: 48px;

	line-height: 48px;

    font-size: 24px;

    font-weight: 700;

}



.feed-menu{

	display: flex;

	align-items: center;

}



.feed-menu h2{

	margin: 0px 15px;

}



.back_button{

	border: none;

	border-radius: 99px;

	background: #F8F8F8;

}