.feed{
	flex: 3;
	margin-left: 21.7%;
	color: #404D61
}
.feed-header {
	position: relative;
	top: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f1ebe5;
	padding: 25px 40px;
    z-index: 100;
}
.feed-header h2 {
	vertical-align: middle;
	height: 48px;
	margin: 0px;
	font-weight: 700;
    font-size: 24px;
	line-height: 48px;
}
.feed-menu{
	display: flex;
	align-items: center;
}
.feed-menu h2{
	margin: 0px 15px;
}
.back_button{
	border: none;
	border-radius: 99px;
	background: #F8F8F8;
}