.feed{

	margin-left: 19.7%;

    flex: 3;

	color: #404D61
	
}



.feed-header {
	
	padding:0px 40px 0px 40px;

    height: 48px;

    display: flex;

	justify-content: space-between;

    position: relative;

    top: 0;

    z-index: 100;

    border-bottom:1px solid #E1E3E6;

    margin:24px 0px 24px 0px;
	padding-bottom:24px;

}



.feed-header h2 {
	align-self:center;
	margin-left:20px;

	vertical-align: middle;

	height: 48px;

	line-height: 48px;

    font-size: 24px;

    font-weight: 700;

}

.header h2 , p , .boxes{
	margin-left:40px;
}


.feed-menu{

	display: flex;

	align-items: center;

}



.feed-menu h2{

	margin: 0px 15px;

}



.back_button{

	border: none;

	border-radius: 99px;

	background: #F8F8F8;

}