.index{
    padding: 25px 40px;
}

.boxes{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
}

.box{
    background-color: #f1f3f8;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    padding: 5px 10px 10px 15px;
    text-align: left;
    line-height: 1em;
    font-size: 20px;
}

.header{
	display: flex;
	justify-content: space-between;
}

.index_ico{
	width: 15px;
	padding-left: 5px;
}