body{
  overflow-x:hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
._container{
  width: 95% !important;
  margin: 0 auto;
}
.ico{
  padding: 12px;
  cursor: pointer;
}
.buttonsFeed{
  display:flex;
  gap:24px;
}
.ico_button{
  height: 48px;
  border: 1px solid #E1E3E6;
  box-shadow: 0 4px 2px -2px rgba(27, 46, 94, 0.02);
  border-radius: 8px;
  white-space: normal;
  vertical-align: middle;
  align-items: center;
  background-color: #FFFFFF;
}
#apps{
  width: 149px;
  height: 48px;
  border:none;
  border-radius: 8px;
  vertical-align: top;
  font-size: 18px;
  line-height: 48px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
}
#apps:hover{
  cursor:pointer;
}
p{
  font-weight:400;
  font-size: 18px;
  color: #757D8A;
  align-items: center;
}
.header__arrow{
  display:flex;
}
#date{
	display: flex;
	line-height: 48px;
	font-size: 18px;
	color: #5A6474;
}
.display-block {
  display: block !important;
}
#popup__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background: rgba(102, 102, 102, 0.5);
  z-index: 10000;
}
.popup__container{
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#popup__background #popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 330px;
  max-height: 200px;
  border-radius: 20px;
  padding: 20px 50px 20px !important;
  margin: auto;
  text-align: center;
  background: #fff;
}
#popup__background:target {display: block;}
.close {
  display: inline-block;
  border: 1px solid #0000cc;
  padding: 0 12px;
  margin: 10px;
  font-size: 14pt;
  color: #0000cc;
  text-decoration: none;
  background: #f2f2f2;
  cursor:pointer;
}
.close:hover {background: #e6e6ff;}
.popup__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #404D61;
}
.popup__form {
  width:100%;
  display: flex;
  justify-content: space-between;
  float: bottom;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.popup__btn {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.popup__not-delete {
  border:none;
  color:white;
  background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
}
.popup__delete {
  background:#fff;
  color:#4E73F8;
  border: 1px solid #4E73F8;
}
span.button__back:hover{
  cursor:pointer;
  transition: 0.4s ease;
  background: #5f80f5;
}
span.button__back{
  max-height:10px;
  padding: 19px;
  margin-right:19px;
  border-radius: 99px;
  align-self:center;
  background: #F8F8F8;
}

.upload__form {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 25px;
  border-radius: 30px;
}

.upload__label {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.upload__label span {
  align-self: center;
}

.upload__form button:hover{
  color: black;
  margin-top: 0;
}


#progressBar {
  display:none;
  width:100%;
  padding:15px 0 0 0;
  margin:0;
  background:none;
  border: 0;
  border-radius:50px;
  text-align: left;
  position:relative;
  font-family:"Helvetica Neue", arial, sans-serif;
  font-size:15px;
}

#progressBar.active {
  display: block;
}

#progressBar::-webkit-progress-bar {
  height: 40px;
  width: 80%;
  margin: 0 auto;
  background-color:#dadada;
  border-radius:100px;
}

#progressBar::-webkit-progress-value {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 0 -10px 0 0;
  padding-left: 50px; /* Rounded corners requires a padding */
  background:#ff9e2c;
  border-radius:100px;
}

#progressBar:after {
  padding: 0;
  display: inline-block; /* Here is the magic to move with the progress */
  float: left;
  content: attr(value) '%';
  color: #555;
  transform: translate(-25px, 7px);
}