body{
    margin: 0;
    padding: 0;
}
.Project{
    height: 100%;
    width: 100%;
    background-color: white;
}
.new_name div{
    position: relative;
}
.new_name div label{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
}
.new_name div textarea {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
}
.new_name div input{
    padding-top: 10px;
}
.new_name button img{
    transform: translateY(5px);
    padding-right: 10px;
}

#popup {
    padding: 0 !important;
}

.popup__edit {
    max-width: 820px !important;
    max-height: 100% !important;
    border-radius: 20px;
    padding: 20px 20px 20px !important;
    margin: auto;
    text-align: center;
    background: #fff;
}

.second_do {
    display: none;
}
.second_do.display-block {
    display: block;
}
.overflow-hidden {
    overflow: hidden;
}
.close__btn{
    border: none;
    border-radius: 40%;
    padding: 17px 23px;
    background: #F8F8F8 !important;
    cursor: pointer;
}

.popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup__header-left{
    display: flex;
}
.display_name{
    margin: 0  0 0 19px ;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #404D61;
}
.popup__header-container {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popup__edit-btn {
    display: flex;
    justify-content: right;
    border: none;
    border-radius: 12px;
    padding: 12px 27px;
    font-size: 22px;
    color: white;
    background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
    cursor: pointer;
}
.popup__body-container {
    display: flex;
    justify-content: space-around;
    padding: 24px 40px;
}

.popup__body-item select{

    width: 250px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 20px 0 0 0;
    appearance: none;
    background: url(../img/arrow_custom.svg) no-repeat right;
    background-position-x: calc(100% - 21px);
}
.popup__body-item select:focus{
    border: 1px solid #4E73F8;
    box-shadow: 0 0 0 4px rgba(31,45,207,0.2);
}

.addFormInput{

    width: 250px;
    border: 1px solid #E1E3E6;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 20px 0 0 0;
    text-align: left;
}
.popup__body-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0 0 0;
}
.popup__body-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0 0 0;
}
.popup__body-item label{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #404D61;
    text-align: left;
}
.addFormInput img {
    height: 16px;
}
.display-none {
    display: none;
}

.button-edit {
    height: 48px;
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
    border-radius: 8px;
}

.button-create {
    background: linear-gradient(180deg, #08B395 0%, #0C977F 100%);
}
.project__cart {
    color: white;
}
.project__cart h3{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, 0);
}

.project__cart p{
    position: absolute;
    top: 20px;
    left: 50%;
    color: rgba(255, 255, 255, 0.8) !important;
    text-align: center;
    transform: translate(-50%, 0);
}

.project__cart button{
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 75%;
    color: #757D8A;
    background: #F8F8F8;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-transform: uppercase;
    transform: translate(-50%, 0);
    transition: 0.4s ease;
}

.project__cart button:hover{
    color: #000;
    transform: translate(-50%, -10px);
    transition: 0.4s ease;
}
