.sidebarOption {
    display: flex;
	justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #737480;
    margin-bottom: 0.5em;
}

.sidebarOption:hover {
    background-color: #ffffff;
    border-radius: 8px;
    transition: 100ms ease-out;
}

.sidebarOption {
    padding: 12px;
}

.option{
	display: flex;
	justify-content: flex-start;
}

.sidebarOption h2 {
    font-size: 17px;
    margin-right: 20px;
	font-weight: 400;
}

.sidebarOption:active {
    color: #74a3f5;
    background-color: #ffffff;
    border-radius: 8px;
}
