.body{
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.smallPlayer{
    width: 500px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
._conatiner-player{
    max-width: 390px;
    margin: 0 auto;
}
.smallPlayer__slick-slider{
    position: relative;
}

/* Основные стили */
/* Слайдер */
.slick-slider {
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
}
/* Конкретный слайдер */
.slider {
}
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.slick-dots li {
    width: 25%;
    list-style: none;
    margin: 0 0 0 4px;
}
.slick-dots ul {
    position: absolute;
    top: 42px;
    width: 395px;
    display: flex;
    z-index: 2;
}
.slick-dots button {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 30px;
    font-size: 0;
    background: linear-gradient(to right, lightgrey 100%, blue 0%);
}
.slick-dots li.slick-active button {
    width: 100%;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, lightgrey 100%, blue 0%);
    opacity: 1;
}
.smallPlayer.slider__item{
    height: 100vh;
}
.slider__item {
    position: relative;
}
.slider__item img {
    max-width: 100%;
}
.slider__video-item{
    position: absolute;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
}
/*----------------------------------------*/
.slider__item-info{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    z-index:4;
}
.slider__item-title{
    font-size: 30px;
    font-weight: 900;
    line-height: 109.5%;
}
.slider__item-text{
    margin: 12px 0 0 0;
    line-height: 17px;
}
.button {
    box-shadow: 0px 3px 0px #3168BB, 0px 10px 30px rgba(62, 138, 251, 0.6);
    border-radius: 6px;
    border: none;
    color: #fff;
    background: #3E8AFB;
}
.slider__item-socialNetwork{
    display: flex;
    justify-content: space-around;
    margin: 22px 0 0 0;
}
.slider__item-button button{
    margin: 30px 0 0 0;
    padding: 19px 42px;
}
/*----------------------------------------*/
.slider__header{
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    color: #fff;
    z-index: 11;
}
.slider__header-logo{
    display: flex;
    align-items: center;
}
.slider__header-logo-text{
    margin: 0 0 0 6px;
    font-weight: 700;
    font-size: 20px;
}

.slider__header-views {
    display: flex;
}

.slider__header-views-count{
    margin: 0 0 0 5px;
    font-size: 12px;
    opacity: 0.5;
}
/*----------------------------------------*/
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 6;
}
.pause__video{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 137px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.6s;
    opacity: 0;
    z-index: 7;
}
.pause__video.active{
    opacity: 1;
}
.overlay.active{
    display: block;
}
.popup{
    position: absolute;
    bottom: -70%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    max-height: 80%;
    text-align: center;
    background-color: #fff;
    opacity: 0;
    transition: 0.6s;
    overflow: hidden;
}
.popup.active{
    bottom: 0;
    opacity: 1;
}
.popup-title{
    color: black;
    margin: 20px 0 0 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 109.5%;
}
.popup-text{
    color: rgba(0, 0, 0, 0.6);
    margin: 12px 0 0 0;
    padding: 0 50px;
    font-weight: 600;
    line-height: 17px;
}
.popup__bonus-text span{
    color: #EA2323;
}
.popup__bonus-form-input{
    position: relative;
    margin: 28px 0 0 0;
}
.input-img{
    position: absolute;
    top: 19px;
    left: 17px;
}
.input input{
    width: 80%;
    border-radius: 6px;
    border: none;
    padding: 21px 45px;
    background: #F4F4F4;
}
.button-form button{
    width: 100%;
    padding: 19px 0;
    margin: 16px 0 20px 0;
}
/*----------------------------------------*/
.popup__allLessons-form{
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    background-color: #fff;
}
.popup__allLessons-form-buy button{
    width: 100%;
    padding: 19px 0;
}
.popup__allLessons-form-notBuy button{
    width: 100%;
    padding: 19px 0;
    margin: 20px 0 30px 0;
    box-shadow: 0px 3px 0px #494949, 0px 10px 30px rgba(105, 106, 108, 0.6);
    background: #6A6A6A;
}
.popup__allLessons-body{
    max-height: 760px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 80px 0;
    overflow: auto;
}
.popup__allLessons-body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.popup-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 0 0 0;
    margin: 5px 0 0 0;
}
.popup__allLessons-item{
    display: flex;
    width: 100%;
}
.popup__allLessons-item-video{
    width: 40%;
    border-radius: 20px;
}
.popup__allLessons-item-video__img{
   position: relative;
}
.popup__allLessons-text{
    font-weight: 300;
    font-size: 14px;
    opacity: 0.6;
}
.popup__allLessons-item-video-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 50px 80px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}
.popup__allLessons-item-info{
    width: 40%;
    text-align: left;
}
.popup__allLessons-item-info-header{
    display: flex;
    align-items: center;
}
.popup__allLessons-item-info-header-number{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background: #444444;
}

.popup__allLessons-item-info-header-time{
    margin: 0 0 0 10px;
    font-weight: 300;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.popup__allLessons-item-info-title{
    width: 90%;
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
}
/*----------------------------------------*/
.popup__buy-title{
    margin: 0  15px;
    text-align: left;

}
.popup__buy-body{
    margin: 20px 0 0 0;
}
.popup__buy-item{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 0 10px 0;
}
.popup__buy-price{
    display: flex;
    justify-content: space-between;
}
.popup__buy-price-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.6;
}
.popup__buy-price-cost{
    font-weight: 500;
    font-size: 18px;
    color: #EA3A3A;
}
.popup__buy-footer{
    padding: 0 20px;
}
.popup__buy-register{
    margin: 20px 0 0 0;
}
.popup__buy-body-form{
    position: relative;
    margin: 10px 0 0 0;
}
.popup__buy-form-buy-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popup__buy-form-buy {
    width: 30%;
}
.popup__buy-form-buy button {
    background: #6A6A6A;
    box-shadow: 0px 3px 0px #494949, 0px 10px 30px rgb(105 106 108 / 60%);
}
.popup__buy-form-back {
    width: 65%;
}
@media screen and (max-width:992px) {
    ._conatiner{
        max-width: 500px;
    }
    .slider__video-item{
        max-width: 500px;
    }
    .slider__header{
        left: 3%;
    }
}
@media screen and (max-width:768px) {
    ._conatiner{
        max-width: 414px;
    }

    .slider__video-item{
        max-width: 414px;
    }
}
@media screen and (max-width:414px) {
    ._conatiner{
        max-width: 100%;
    }
    .slider__video-item{
        max-width: 100%;
    }
}


