.Tableusers{
    display: flex;
    flex-direction: column;
	margin: 24px 0 0 0;
    font-size: 17px;
}
.table__name{
	display: flex;
	align-items: center;
}
.table_ava{
	width: 32px;
	height: 32px;
	border-radius: 99px;
	margin: 0vh 1vh 0vh 1vh;
}
.table_ico{
	width: 15px;
	margin: 0vh 1vh 0vh 1vh;
}
td{
	width: 25%;
}
td, th {
    padding: 16px 20px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	color: #5A6474;
}
#grey{
	background-color: #F8F8F8;
}

