@media (min-width: 320px) {
    .header-main__burger{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;

    }
    .main__burger {
        position: relative;
        display: block;
        width: 16px;
        height: 10px;
    }
    .main__burger:before{
        content: '';
        background-color: #fff;
        position: absolute;
        border-radius: 1px;
        width: 70%;
        height: 2px;
        right: 0;
        transition: all 0.3s ease 0s;
    }
    .main__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        border-radius: 1px;
        width: 50%;
        height: 2px;
        right: 0;
        transition: all 0.3s ease 0s;
    }
    .main__burger:before {
        top: 0;
    }
    .main__burger:after {
        bottom: 0;
    }
    .main__burger span {
        position: absolute;
        background-color: #fff;
        border-radius: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        top: 4px;
        transition: all 0.3s ease 0s;
    }
    /*availableToYou*/
    .availableToYou.userPopup{
        display: none;
    }
    .active{
        display: block!important;
    }
    .availableToYou__body{
        overflow: auto;
        margin: 20px 0 0 0;
        height: 37%;

    }
    /*Course*/
    .Course.userPopup{
        display: none;
    }
    .Course.availableToYou__body{
        height: 100%!important;
        overflow: hidden;
    }
    .availableToYou.userPopup__title{
        padding: 20px 20px 0 20px;
    }
    .available-number.popup__allLessons-item-info-header-number{
        width: 44px;
        height: 20px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 15px;
        background: #4DAA21;
    }
    .notAvailable-number.popup__allLessons-item-info-header-number{
        width: 44px;
        height: 20px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 15px;
        background: #444444;
    }
    /*aboutTheAuthor*/
    .aboutTheAuthor.userPopup{
        display: none;
    }

    .aboutTheAuthor-name{
        margin:  0 0 0 7px;
        font-size: 10px;
        opacity: 0.6;
    }
    .aboutTheAuthor-button{
        margin: 20px 0;
    }
    .aboutTheAuthor-button button{
        width: 100%;
        border: 1px solid #3E8AFB;
        border-radius: 5px;
        padding: 19px 0;
        color: #3E8AFB

    }
    .availableToYou .userPopup__body{
        overflow: hidden;
    }
    .Course{

    }


    /*otherСourses*/
    .otherСourses{
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        background-color: #F4F4F4;
    }
    .otherСourses__body{
        margin: 20px 0 0 0;
        overflow: auto;
        height: 33%;
    }
    .otherСourses .userPopup__title{
    }
    .otherСourses.userPopup__body{
        height: auto;
    }
    .otherСourses.popup__allLessons-body{
        margin: 0;
    }
    .otherСourses.userPopup__button{
        margin: 20px 0;

    }
    /*Сourse-back */
    .Сourse-form{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .Сourse-back{
        width: 30%;
    }
    .Сourse-back button{
        box-shadow: 0px 3px 0px #494949, 0px 10px 30px rgb(105 106 108 / 60%);
        background: #6A6A6A;
    }
    .Сourse-question{
        width: 65%;
    }
    /*AllLessons*/
    .AllLessons.userPopup{
        display: none;
    }
    .AllLessons__subtitle{
        margin: 6px 0 0 0;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 300;
        line-height: 17px;
    }
    .AllLessons-form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .AllLessons.availableToYou__body{
        height: 70%;
    }
    .AllLessons.userPopup__button button{
        box-shadow: 0px 3px 0px #494949, 0px 10px 30px rgb(105 106 108 / 60%);
        background: #6A6A6A;
    }
    /*question*/
    .question.userPopup{
        display: none;
        height: 49%;
    }
    .question.input input{
        width: 100%;
    }
    .question-textarea{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .question-textarea textarea{
        width: 370px;
        height: 124px;
        background: #F4F4F4;
        border-radius: 6px;
        padding: 20px 20px 20px 45px;
        font-size: 16px;
    }
    .question-form{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
    }
    /*youChosen*/
    .youChosen.userPopup{
        display: none;
        height: 64%;
    }
    .youChosen.availableToYou__body{
        height: auto;
    }
    .youChosen-info{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 20px 0 0 0;
        margin: 10px 0 0 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
    }
    .youChosen-info span{
        color: #EA3A3A;
    }
    .youChosen-input.input input{
        width: 100%;
    }
    /*youWatching*/
    .youWatching.userPopup{
        height: 32%;
        position: absolute;
        bottom: -70%;
        z-index: 5;
        opacity: 0;
        transition: 0.6s;
    }
    .youWatching.userPopup.active{
        bottom: 0;
        opacity: 1;
    }
    .youWatching.Сourse-form{
        margin: 25px 0 0 0;
    }
    /*UserPlayer*/
    .UserPlayer{
        position: relative;
        width: 410px;
        margin: 0 auto;
        height: 100vh;
        overflow: hidden;
    }
    .UserPlayer__logo{

    }

    .UserPlayer.User-header{
        position: absolute;
        align-items: center;
        width: 90%;
        height: 10%;
        top: 0;
        left: 20px;
        z-index: 2;
    }
    .UserPlayer video{
        position: absolute;
        max-width: 414px;
        height: 100%;
        object-fit: cover;
    }
    .UserPlayer video::-webkit-media-controls {
        padding: 0 0 305px 0;!important;
    }
    .UserPlayer video::-webkit-media-controls-panel {
        box-shadow: none;!important;
        border: none;!important;
        background: none;!important;
    }
    .UserPlayer.Сourse-form{
        width: 92%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -92%;
        z-index: 4;
        opacity: 0.5;
    }
}
.popup__allLessons-item-video video{
    width: 160px;
    height: 100px;
    vertical-align: top;
    border-radius: 27px;
}

