<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="padding:0px;margin:0px;max-width: 800px;font-family: Verdana, Geneva, Tahoma, sans-serif;background: #EFEFEF;">
    <div class="envelope-container" style="max-width: 500px;
    width: 100%;
    margin: 0 auto;">
        <div class="envelope-body" style="background:white;">
            <div class="first_row">
                <img style="width:100%;" src="https://app.course-creator.io/envelope-images/envelope-end.jpg" alt="Добро пожаловать в Course Creator!">
            </div>
            <div class="second_row" style="padding:40px;">
                <h2 style="font-size:24px;font-weight: 400;margin-top: 0px;margin-left:0px;margin-bottom: 20px;margin-right: 0px;">
                    Здравствуйте, к сожалению достук к course-creator.io закончился!
                </h2>
                <span style="color: rgba(0, 0, 0, 0.6);font-size:16px;font-weight:400;">
                    У вас был подключен тариф Starter (2 990 ₽/мес). Что бы продолжить использование сервиса вам нужно оплатить ваш действующий тариф, или выбрать и облать любой из доступных тарифов.
                </span>
                <div class="info_account" style="margin-top: 30px;">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th style="width:50%;">
                                    <a href="https://appp.course-creator.io/Account">
                                        <button style="height: 48px;background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
                                        border-radius: 8px;border:none;color:white;width:100%;font-size:14px;cursor:pointer;">
                                            Продлить тариф
                                        </button>
                                    </a>
                                </th>
                                <th style="width:20px;"></th>
                                <th style="width:50%;">
                                    <a href="https://appp.course-creator.io/Account">
                                        <button style="height: 48px;border: 1px solid #4E73F8;background:transparent;
                                        border-radius: 8px;color: #4E73F8;width:100%;font-size:14px;cursor:pointer;">
                                            Выбрать тариф
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="envelope_info_bottom" style="text-align: center;margin-top:20px;margin-bottom: 20px;">
            <div style="font-size:12px;">
                Если у вас есть вопросы, пожалуйста, напишите <br> в службу поддержки: <a href="mailto:support@course-creator.io">support@course-creator.io</a>
            </div>
        </div>
    </div>
</body>
</html>